%ul.breadcrumb
  %li
    %a{ :href => "/" } Frontpage
  %li.active
    Chat

:javascript
  var giveChat = true;

%div.ribbony_thing
  %form#chat_form{ :action => "/chat", :method => "post" }
    %fieldset
      %ol
        %li
          %label.block{ :for => "chat_input" } Type message and hit enter:
          %input#chat_input.extra_large{ :type => "text", :name => "chat_input", :autocomplete => "disabled" }
  %div#chat_box