%ul.stream
  %li
    .item_meta
      %a{ :href => '#' }
        %img.avatar{ :src => 'http://placehold.it/48' }
        %span.name> User
      %span.verb started
      %span.object a thread
      %span.time 28 minutes ago
    .item_content
      %h2
        %a{ :href => '#' } This should be a thread
      %p And some text preview, maybe? Or image? Or video snapshot?
    .item_utils