!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title Zeon
    %link{ :rel => 'stylesheet', :href => '/reset.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/style.css', :type => 'text/css' }
  %body{ :lang => 'en' }
    = styled_flash
    %header
      %a{ :href => '/' }
        Front page
      %form{ :method => 'post', :action => '/search' }
        %input{ :type => 'text', :name => 'search', :placeholder => 'Search...' }>
        %button{ :type => 'submit' }
          %img{ :src => 'search.png' }
    %section
      = yield
    %footer
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" }
    %script{ :src => '/script.js' }