%form{ :action => '/profile/delete', :method => 'post' }
  %label{ :for => 'password' } Password:
  %input{ :name => 'password', :type => 'password', :placeholder => 'Password' }
  %button{ :type => 'submit' } Delete profile now.