%h2
  %a{ :href => "/thread/" + @p.id.to_s }
    - if @p.type != :post
      %span.type= @p.type.to_s.capitalize + ":"
    = @p.title
  %small
    %a.tt{ :href => @p.meta["url"], :title => @p.meta["url"], :target => '_blank', :rel => 'nofollow' }= ellipse_url(@p.meta["url"], 60)