form
  background: #111 url('/images/micro_carbon.gif')
  border: 1px solid #000
  border-top-color: #444
  border-radius: 10px
  box-shadow: 0 -1px 0 #000, 0 5px 20px rgba(0, 0, 0, 0.2)
  padding: 10px
  &.notabox, &.no_form
    background: transparent
    border: 0
    padding: 0
    box-shadow: none
  &.no_form
    display: inline-block
  fieldset
    legend
      font-size: 24px
      color: #fff
      border-color: #000
      text-align: center
      display: block
      font-weight: bold
      width: 100%
      text-shadow: rgb(0, 0, 0) 1px 2px 1px
      border-bottom-style: solid
      border-bottom-width: 0.063em
      padding-bottom: 0.688em
      &.no_border
        border-bottom: 0
  li:not(:last-child)
    margin-bottom: 1em
    &:first-child
      padding-top: 1em
  li
    &.active
      display: block
    &.inactive
      display: none

.box
  background: #101010
  padding: 5px
  border: 1px solid #000
  box-shadow: inset 0 1px 1px 0 rgba(70, 70, 70, 0.5), inset 0 20px 50px rgba(50, 50, 50, 0.5)
  margin-top: 1.5em
  border-radius: 5px

.tags
  textarea
    min-height: 50px

.info
  padding: 5px
  text-shadow: none

div.columns_2
  overflow: hidden
  *zoom: 1
  section
    float: left
    width: 50%
    box-sizing: border-box
    &:nth-child(odd)
      padding-right: 10px
    input
      width: 100%

.choose_type
  width: 358px
  margin: 0 auto 2em !important
  border-bottom: 10px solid #0f2c39
  box-shadow: 0 1px 1px 0 #0a0a0a
  position: relative
  &:before
    display: block
    content: ' '
    position: absolute
    width: 115px
    height: 30px
    background: #0f2c39
    border-top: 1px solid #0a0a0a
    border-left: 1px solid #0a0a0a
    border-top-left-radius: 5px
    box-shadow: inset 0 1px 0 0 #123746, -1px 1px 1px 0 #0a0a0a
    bottom: -10px
    left: -115px
  &:after
    display: block
    content: ' '
    position: absolute
    width: 115px
    height: 30px
    background: #0f2c39
    border-top: 1px solid #0a0a0a
    border-right: 1px solid #0a0a0a
    border-top-right-radius: 5px
    box-shadow: inset 0 1px 0 0 #123746, 1px 1px 1px 0 #0a0a0a
    bottom: -10px
    right: -115px
  a
    display: block
    width: 80px
    height: 80px
    background: #0a0a0a
    border-radius: 5px
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    text-decoration: none
    font-size: 11px
    font-weight: bold
    text-align: center
    margin-right: 10px
    border: 1px solid #000
    box-shadow: inset 0 1px 1px 0 #333
    text-transform: uppercase
    float: left
    z-index: 3
    background-repeat: no-repeat
    background-position: 24px 35px
    &:hover
      background-color: #111
    &:last-child
      margin-right: 0
    &.active
      background-color: #0f2c39
      box-shadow: inset 0 1px 0 0 #2e8bb2
      border-bottom-color: #0f2c39
    &.freetext
      background-image: url('/images/article_32x32.png')
    &.image
      background-image: url('/images/image_32x32.png')
    &.video
      background-image: url('/images/movie_32x32.png')
    &.link
      background-image: url('/images/link_32x32.png')

label.block, section h5
  display: block
  text-transform: uppercase
  font-size: 12px
  font-weight: bold
  margin-bottom: 0.75em

input[type=text], input[type=email], input[type=url], input[type=password], textarea
  background: #eee
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2)
  border: 4px solid rgba(0, 0, 0, 0.5)
  padding: 5px
  box-sizing: border-box
  font-size: 14px
  border-radius: 5px
  &:focus
    outline: none
    background: #fff
  &.extra_large
    display: block
    width: 100%
    font-size: 18px

input[type=file]
  color: #aaa

textarea
  width: 100%
  min-height: 100px

//
// blue pill (inspired by iTunes)
// As of 19 Sep 2010 there is a bug in Chrome/Win affecting this button:
// http://code.google.com/p/chromium/issues/detail?id=29427
//

button
  background: #112011
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#112011), to(#0b150b) )
  border-top: 1px solid #050a05
  border-right: 1px solid #0b150b
  border-bottom: 1px solid #050a05
  border-left: 1px solid #0b150b
  border-radius: 3px
  box-shadow: inset 0 1px 0 0 #1d361d
  color: #fff
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
  font-size: 11px
  font-weight: bold
  line-height: 1
  padding: 8px 0 8px 0
  text-align: center
  text-shadow: #0b150b 0 -1px 1px
  text-transform: uppercase
  width: 150px
  &:hover
    background: #121
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#121), to(#0b170b) )
    cursor: pointer
    &:active
      border: 1px solid #060b06
      box-shadow: inset 0 0 8px 2px #060b06, 0 1px 0 0 #1d361d
  &.boxed
    border: 0
    display: inline-block
    text-shadow: none
    text-transform: none
    width: auto
    line-height: inherit
    font-size: inherit
    font-family: inherit
    font-weight: normal
    color: inherit
    box-shadow: none
    &:active
      box-shadow: none
      border: 0