body
  background: #000003 url('/images/blackblue_noise.png')
  color: #aaa
  text-shadow: #000 0 0 1px

#wrapper
  width: 960px
  margin: 0 auto

#header
  background: #111
  border: 1px solid #000
  border-radius: 10px
  box-shadow: inset 0 1px 1px 0 rgba(150, 150, 150, 0.4)
  margin: 20px 0
  +clearfix

  nav
    float: left
    width: 609px
    padding: 7px 20px
    background: rgba(0, 0, 0, 0.2)
    border-right: 1px solid #000
    &>ul
      +clearfix
      &>li
        padding: 0 20px 0 0
        display: block
        float: left
        &>a
          display: block
          padding: 3px 15px
          &:hover
            color: #fff

  aside
    width: 270px
    padding: 10px 20px
    padding-left: 0
    float: right

li.subnav_wrap
  position: relative
  &>a
    display: block
    padding: 3px 15px !important
    border-top-left-radius: 5px
    border-top-right-radius: 5px
  &:hover
    &>a
      background: #555
      background: rgba(85, 85, 85, 0.8)
    ul.subnav
      display: block

ul.subnav
  position: absolute
  z-index: 100
  left: 0
  width: 200px
  box-sizing: border-box
  border-top-right-radius: 5px
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  padding: 5px
  background: #555
  background: rgba(85, 85, 85, 0.8)
  text-align: left
  display: none
  li
    a
      display: block
      padding: 3px 0 3px 10px
      font-weight: normal
      &:hover
        background: #444
        background: rgba(51, 51, 51, 0.8)

#footer
  padding: 0 20px 50px
  overflow: hidden
  *zoom: 1

  nav
    float: left
    width: 300px
    ul
      width: 300px
      overflow: hidden
      *zoom: 1
      &>li
        width: 150px
        float: left

  aside
    float: right
    width: 300px
    overflow: hidden
    *zoom: 1
    .icon_button
      float: right
      margin-left: 10px

.icon_button
  display: block
  width: 32px
  height: 32px
  padding: 20px
  background: rgba(30, 30, 30, 0.7)
  border-radius: 10px
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1)
  opacity: 0.8
  &:hover
    opacity: 1

#main
  background: #222224 url('/images/greyblue_noise.png')
  border: 1px solid #111
  border-top-color: #444
  padding: 20px 0
  border-radius: 10px
  overflow: hidden
  *zoom: 1
  margin-bottom: 20px

#container
  width: 610px
  padding: 0 20px
  float: left

#sidebar
  width: 270px
  margin-left: 20px
  padding-top: 3.3em
  float: left

  .widget
    background: rgba(0, 0, 0, 0.4)
    border: 1px solid #111
    border-bottom-color: #444
    padding: 10px
    margin-bottom: 1.5em
    border-radius: 10px
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.2)
    &.important
      color: #7ca27c
      background: rgba(17, 32, 17, 0.4)
      border-bottom-color: #4c6c4c
    a.close
      display: block
      float: right

.half_text_ad
  text-align: center
  img
    display: block
    margin: 0 auto
    margin-bottom: 1.5em
  a
    font-weight: bold

@import streams
@import posts
@import conversation

ul.breadcrumb
  display: block
  width: 650px
  margin-top: -20px
  margin-left: -20px
  margin-bottom: 1.5em
  box-sizing: border-box
  background: #111
  border-top-left-radius: 10px
  border-bottom-right-radius: 10px
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2)
  border: 1px solid #000
  border-left: 0
  border-bottom-color: #333
  overflow: hidden
  *zoom: 1
  li
    color: #aaa
    background: #444
    text-shadow: #000 0 1px 1px
    font-weight: bold
    border-top: 1px solid #555
    border-left: 1px solid #222
    border-bottom: 1px solid #000
    font-size: 14px
    line-height: 24px
    float: left
    padding: 10px 34px
    margin-right: 1px
    position: relative
    a
      text-decoration: none
    span.number
      display: inline-block
      background: #6c8498
      border: 1px solid #5d7385
      padding: 0 6px
      border-radius: 3px
      border-bottom-color: #bcc7d0
      border-right-color: #bcc7d0
    &.active
      background: #555
      &:after
        border-color: transparent transparent transparent #555
    &:before
      display: block
      content: ' '
      position: absolute
      border-color: transparent transparent transparent #000
      border-style: solid
      border-width: 24px
      width: 0
      height: 0
      right: -47px
      top: -2px
      z-index: 2
      box-shadow: none
    &:after
      display: block
      content: ' '
      position: absolute
      border-color: transparent transparent transparent #444
      border-style: solid
      border-width: 22px
      width: 0
      height: 0
      right: -43px
      top: 0
      z-index: 3
      box-shadow: none
    &:first-child
      padding-left: 20px
      border-top-left-radius: 10px

div.container
  overflow: hidden
  *zoom: 1

a.framed_image_holder
  display: block
  &.fih_200x150
    width: 200px
    height: 162px
    background: #333
    img.framed_image
      padding: 6px 0
      box-shadow: none
  &.fih_600
    width: 612px
    background: #333

img.framed_image
  display: block
  margin: 0 auto
  padding: 6px
  background: #333
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4)

div.message
  background: rgba(40, 40, 40, 0.4)
  border: 1px solid #000
  border-left: 0
  border-right: 0
  padding: 5px
  text-align: center
  font-weight: bold
  font-size: 13px
  &.error
    background: rgba(231, 47, 38, 0.4)
    color: #f39591
  &.success
    background: rgba(17, 32, 17, 0.4)
    color: #7ca27c

.ribbony_thing
  position: relative
  left: -20px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  border: 1px solid #000
  border-left-color: #222
  border-bottom-color: #333
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2)
  width: 610px
  margin-bottom: 1.5em
  background: #111
  padding: 20px

nav.pagination
  display: block
  width: 100%
  border-top: 1px solid #555
  margin-top: 1.5em
  margin-bottom: 1.5em
  position: relative
  top: 9px
  ul
    overflow: hidden
    *zoom: 1
    text-align: center
    position: relative
    top: -9px
    li
      display: inline-block
      padding: 0 20px
      font-size: 12px
      font-weight: bold
      a
        text-decoration: none
        &:hover
          color: #fff
          span.circle
            border-color: #666
      span.circle
        display: block
        background: #111
        border: 4px solid #555
        width: 12px
        height: 12px
        border-radius: 16px
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
      &.active
        span.circle
          background-color: #88c6e0
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), 0 0 3px rgba(136, 198, 224, 0.25)

@import tiptip

a.boxed, button.boxed
  padding: 0 6px
  border-radius: 3px
  background: #0d0d0d
  margin-bottom: 3px
  text-decoration: none
  display: inline-block
  cursor: pointer
  &:hover
    background: #101010