!!! XML
%XRD{ :xmlns => "http://docs.oasis-open.org/ns/xri/xrd-1.0", :"xmlns:hm" => "http://host-meta.net/xrd/1.0" }
  %hm:Host{ :xmlns => "http://host-meta.net/xrd/1.0" }= ROOT
  %Link{ :rel => "lrdd", :template => "http://#{ROOT}/webfinger?id={uri}", :type => "application/xrd+xml" }
    %Title Webfinger Resource