%form#login{ :method => 'post', :action => '/login' }
  %fieldset
    %legend
      Sign in
    %ol
      %li
        = haml :"helpers/error"
      %li
        %label.block{ :for => 'name' } Username:
        %input#name.extra_large{ :type => 'text', :name => 'name', :value => params[:name] }
      %li
        %label.block{ :for => 'password' } Password:
        %input#password.extra_large{ :type => 'password', :name => 'password' }
      %li
        %button{ :type => 'submit' }
          Sign in