%form#create{ :method => 'post', :action => '/activity', :enctype => "multipart/form-data" }
  %fieldset
    %legend.no_border
      Create new post
    %ol
      %li.choose_type
        %div.container
          %a.freetext.active{ :href => "#", :data => { :value => "post" } } Freetext
          %a.image{ :href => "#", :data => { :value => "image" } } Image
          %a.video{ :href => "#", :data => { :value => "video" } } Video
          %a.link{ :href => "#", :data => { :value => "link" } } Link
        %input#type{ :type => "hidden", :name => "type", :value => "post" }
      %li.message_holder
        = haml :"helpers/error"
      %li.title.active
        %label.block{ :for => "title" }
          Title &bull;
          %em.pretty_italic Please make your title as descriptive as possible
        %input#title.extra_large{ :type => "text", :name => "title" }
      %li.file.inactive
        %label.block{ :for => "file" }
          File &bull;
          %em.pretty_italic Only JPG, PNG or GIF files of up to 5 MB
        %input#file{ :type => "file", :name => "image_file" }
      %li.url.inactive
        %label.block{ :for => "url" } URL:
        %input#url.extra_large{ :type => "url", :name => "url" }
      %li.text.active
        %label.block{ :for => "text" }
          Text &bull;
          %em.pretty_italic Markdown enabled
        %textarea#text{ :name => "text" }
      %li.tags
        %label.block{ :for => "tags" }
          Tags &bull;
          %em.pretty_italic Space-separated
        %textarea#tags{ :name => "tags" }
      %li
        %button{ :type => "submit" } Create new post
        %em.pretty_italic &mdash; By posting you agree to our rules and terms of service