%ul.conversation
  - @conversation.each do |@c|
    - if [:post, :image, :video, :link, :reply].include? @c.type
      %li.item{ :class => "item_" + @c.type.to_s, :id => "p" + @c.id.to_s }
        %div.item_specific
          = haml :"helpers/conversation_#{@c.type.to_s}"
        - if @c.type != :reply
          %div.item_tags
            - @c.tags.each do |tag|
              %a.boxed{ :href => "/tag/" + tag.name }= tag.name