%div.item_head
  %h1= @c.title
  %h2
    %a.tt{ :href => @c.meta["url"], :title => @c.meta["url"], :target => '_blank', :rel => 'nofollow' }= ellipse_url(@c.meta["url"], 60)

- if not @c.content.empty?
  = haml :"helpers/conversation_reply"