%ul.posts
  %li.item
    %div.item_content
      %h2
        %a{ :href => "" } Thread title
    %div.item_utils
      Tagged:
      %a.boxed{ :href => "" } a_tag
      %a.boxed{ :href => "" } something
    %div.item_meta
      %ul
        %li
          %a{ :href => "" }
            %img.avatar{ :src => "http://placehold.it/48", :width => 
"48", :height => "48" }
            %span.name User
          %span.time 1 hour ago
        %li
          %span.views 90 readers
          %span.posts 4 replies
        %li
          %a.last_reply{ :href => "" }
            %span.what Last reply by
            %span.name User2
            %span.time 30 minutes ago
